/*
@font-face {
    font-family: "NotoSansKR"; 
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf") format(".otf"); 
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format(".ttf");
    unicode-range: U+0020-007E;
    font-style: normal;
}
*/
* {
    margin: 0; 
    padding: 0; 
    font-family: "Lucida Console", 'Courier New', monospace; /* Several fonts for fallback */
}
body {
    padding: 20px;
}
.container {
    display: table;
}
#title {
    margin: 2px; 
    font-size: 20px; 
    font-weight: 700;
    padding-left: 70px;
    padding-bottom: 2px;
    color: rgb(240,149,55); 
    text-align: left;
}
.row {
    display: table-row; 
    text-align: center;
}
.cell {
    display: table-cell; 
    vertical-align: middle; 
}
.box {
    width: 150px;
}
.radio {
    display: table; 
    width: 100%; 
    border-top: 1px solid rgb(240,149,55); 
    box-sizing: border-box;
}
.radio > div {
    display: table-cell; 
    line-height: 40px; 
    height: 40px;
    border-left: 1px solid rgb(240,149,55);
    text-align: center;
}
.radio > div:nth-child(3) {
    border-right: 1px solid rgb(240,149,55);
}
.ratio {
    width: 33.33%;
}
.ratio > label {
    display: block; 
    width: 100%; 
    height: 100%; 
    color:rgb(240,149,55); 
    box-sizing: border-box; 
    cursor: pointer;
}
.sr-only {
    overflow: hidden !important; 
    position: absolute !important; 
    left: -9999px !important; /* Move radio button out of the screen view to hide*/
    width: 1px; 
    height: 1px;
}
input[type = "radio"]:checked + label {
    background-color : rgb(240,149,55);
    color:white;
}

#input-text {
    height: 81px;
    border: 1px solid rgb(240,149,55);
    border-left: none;
    border-bottom: none;
    font-size: 54px; 
    text-align: center; 
    vertical-align: middle;
    color: rgb(240,149,55); 
    width: 150px;
}
::placeholder { 
    color: rgb(240,149,55);
    opacity: 1;
  }
input:focus {
    outline: none;
}
#time {
    border: 1px solid rgb(240,149,55); 
    color: rgb(240,149,55); 
    font-size: 12px; 
    padding: 3px;
}
#text {
    border: 1px solid rgb(240,149,55);
    border-left: none; 
    font-size: 12px; padding: 3px;
    color: rgb(240,149,55); 
}
#day-view, #night-view {
    margin-top: 2px;
}
.bt {
    height: 35px; 
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer; 
    outline: none;
    border: 0.5px solid white;
    border-radius: 6px;
    background-color: rgb(240,149,55); 
    color: white; 
    width: 100%;
}
.bt:active { 
    box-shadow: 1px 1px 0px 2px white; 
    position: relative;
}
#pw {
    color:white; /* Hide password intially until selected */
    font-size: 19px;
    margin-top: 1px;
}